* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

head title {
    font-family: "Playwrite AT", serif;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #ffffff;
}

/* Navigation */

.nav-bar {
    font-size: 1.2rem;
    position: fixed;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: hsl(43, 94%, 94%);
}
nav ul {
    /* margin-right: 3rem; */
    display: flex;
    list-style: none;
}

nav ul li a,
nav a {
    font-family: "Playwrite AT", serif;
    color: #292828;
    padding: 1rem;
    text-decoration: none;
    transition: 0.3s ease;
}

nav ul li a:hover,
nav a:hover {
    color: #000000;
    background: #fae9bd;
    border-radius: 8px;
}

/* Header */

header {
    text-align: center;
}

header section {
    padding: 5rem 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
    /* border: #000000 solid 1px; */
}

header h1 {
    font-family: "Playwrite AT", serif;
    font-size: 3rem;
    margin-top: 5rem;
    font-weight: 600;
}

header h2 {
    font-size: 2rem;
    font-weight: 400;
}

/* Image */

#dp {
    margin-top: 5rem;
    object-fit: cover;
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
}

/* Socials */

.socials {
    display: flex;
    justify-content: center;
}

.socials ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.socials img {
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    transition: 0.3s ease;
}

.socials img:hover {
    transform: scale(1.1);
}

/* Main */

main section {
    padding: 5rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
    /* border: #000000 solid 1px; */
}

main section h2 {
    font-family: "Playwrite AT", serif;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem;
    width: 30%;
}

/* Background Color */

#about {
    background-color: hsl(45, 92%, 95%);
}

#experience {
    background-color: hsl(43, 95%, 85%);
}

#projects {
    background-color: hsl(43, 94%, 75%);
}

#skills {
    background-color: hsl(43, 95%, 85%);
}

#contact {
    background-color: hsl(45, 92%, 95%);
}

/* About */

#about p {
    width: 70%;
}

/* Experience */

#experience ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

#experience ul li {
    width: 15rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    box-shadow: #000000 0 10px 10px;
    border-radius: 10px;
    background-color: hsl(45, 92%, 95%);
    color: #000000;
}

#experience ul li h3 {
    font-family: "Playwrite AT", serif;
    padding-top: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    white-space: nowrap;
}

#experience ul li p {
    padding-bottom: 1rem;
}

/* Projects */

#projects ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

#projects ul li {
    padding: 1rem;
    margin: 1rem;
    font-size: 0.8rem;
    width: 20rem;
    height: 10rem;
    box-shadow: #000000 0 10px 10px;
    border-radius: 10px;
    color: #000000;
    background-color: hsl(45, 92%, 95%);

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#projects ul li h3 {
    font-family: "Playwrite AT", serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects ul li p {
    margin: 1rem 1rem 1rem 1rem;
}

/* Skills */

#skills h2 {
    width: 30%;
}

#skills ul {
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

#skills img {
    height: 4rem;
    width: 4rem;
    margin: 1rem;
}

/* Contact */

#contact a {
    text-decoration: none;
    color: #333;
}

#contact a:hover {
    text-decoration: underline;
}
