/* ProjectsList.css */
.projects-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 950px) {
    .projects-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (min-width: 1450px) {
    .projects-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1900px) {
    .projects-list {
        grid-template-columns: repeat(4, 1fr);
    }
}