body {
    font-family: "Inter", sans-serif;
    background-color: #f8fafc;
    /* slate-50 */
    transition: background-color 0.3s;
}

/* Enable smooth in-page anchor scrolling */
html {
    scroll-behavior: smooth;
}

.dark body {
    background-color: #0f172a;
    /* slate-900 */
}

.timeline-item::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #f8fafc;
    /* slate-50 */
    border: 3px solid #38bdf8;
    /* sky-400 */
    left: -0.5rem;
    top: 0.25rem;
    z-index: 10;
    transition: background-color 0.3s, border-color 0.3s;
}

.dark .timeline-item::before {
    background-color: #0f172a;
    /* slate-900 */
    border-color: #0ea5e9;
    /* sky-600 */
}

.timeline-line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #cbd5e1;
    /* slate-300 */
    transition: background-color 0.3s;
}

.dark .timeline-line {
    background-color: #475569;
    /* slate-600 */
}

.skill-tag.active {
    background-color: #0284c7;
    /* sky-600 */
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
}

.highlightable {
    transition: all 0.3s ease-in-out;
}

.highlightable.dimmed {
    opacity: 0.3;
    transform: scale(0.98);
}

.highlightable.highlighted {
    box-shadow: 0 0 0 3px #38bdf8;
    /* sky-400 */
    transform: scale(1.02);
}